@model MyPocket.Core.Models.SubscriptionPlan

@{
    ViewData["Title"] = Localizer["DeleteSubscriptionPlan"];
}

<h1>@Localizer["DeleteSubscriptionPlan"]</h1>

<h3>@Localizer["ConfirmDeleteSubscriptionPlan"]</h3>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Localizer["PlanName"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlanName)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Price"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Localizer["DurationDays"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DurationDays)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Description"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="PlanId" />
        <input type="submit" value="@Localizer["Delete"]" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">@Localizer["BackToList"]</a>
    </form>
</div>
