@model MyPocket.Core.Models.SubscriptionPlan

@{
    ViewData["Title"] = Localizer["EditSubscriptionPlan"];
}

<h1>@Localizer["EditSubscriptionPlan"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PlanId" />
            <div class="form-group">
                <label asp-for="PlanName" class="control-label">@Localizer["PlanName"]</label>
                <input asp-for="PlanName" class="form-control" />
                <span asp-validation-for="PlanName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">@Localizer["Price"]</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DurationDays" class="control-label">@Localizer["DurationDays"]</label>
                <input asp-for="DurationDays" class="form-control" />
                <span asp-validation-for="DurationDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">@Localizer["Description"]</label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="@Localizer["Save"]" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">@Localizer["BackToList"]</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
