@model IEnumerable<MyPocket.Core.Models.Announcement>
@{
    ViewData["Title"] = Localizer["AnnouncementManagement"];
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>@Localizer["AnnouncementManagement"]</h2>

<div class="mb-2">
    <input type="text" id="tableFilter" class="form-control" placeholder="@Localizer["Search"]...">
</div>

<p>
    <a asp-action="Create" class="btn btn-success">@Localizer["AddAnnouncement"]</a>
</p>

<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>@Localizer["Title"]</th>
            <th>@Localizer["Content"]</th>
            <th>@Localizer["PublishDate"]</th>
            <th>@Localizer["Manage"]</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Title</td>
            <td>@item.Content</td>
            <td>@item.PublishDate.ToLocalTime().ToString("yyyy-MM-dd HH:mm")</td>
            <td>
                <a asp-action="Details" asp-route-id="@item.AnnouncementId" class="btn btn-info btn-sm">@Localizer["Details"]</a>
                <a asp-action="Edit" asp-route-id="@item.AnnouncementId" class="btn btn-warning btn-sm">@Localizer["Edit"]</a>
                <a asp-action="Delete" asp-route-id="@item.AnnouncementId" class="btn btn-danger btn-sm">@Localizer["Delete"]</a>
            </td>
        </tr>
    }
    </tbody>
</table>
