@model IEnumerable<MyPocket.Core.Models.User>

@{
    ViewData["Title"] = Localizer["UsersManagement"];
}

<h1>@Localizer["UsersManagement"]</h1>

<div class="mb-2">
    <input type="text" id="tableFilter" class="form-control" placeholder="@Localizer["Search"]...">
</div>

<p>
    <a asp-action="Create" class="btn btn-success mb-2">@Localizer["AddUser"]</a>
</p>
<table class="table table-striped align-middle">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.Nickname)</th>
            <th>@Html.DisplayNameFor(model => model.Role)</th>
            <th>@Html.DisplayNameFor(model => model.CreationDate)</th>
            <th>@Html.DisplayNameFor(model => model.IsDeleted)</th>
            <th>@Localizer["Action"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.Nickname)</td>
                <td>@Html.DisplayFor(modelItem => item.Role)</td>
                <td>@Html.DisplayFor(modelItem => item.CreationDate)</td>
                <td>
                    @if (item.IsDeleted)
                    {
                        <span class="badge bg-danger">@Localizer["Disabled"]</span>
                    }
                    else
                    {
                        <span class="badge bg-success">@Localizer["Active"]</span>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.UserId" class="btn btn-sm btn-outline-primary">@Localizer["Edit"]</a>
                    <a asp-action="Details" asp-route-id="@item.UserId" class="btn btn-sm btn-outline-secondary">@Localizer["Details"]</a>
                    <a asp-action="Delete" asp-route-id="@item.UserId" class="btn btn-sm btn-outline-danger">@Localizer["Delete"]</a>
                    <a asp-area="Admin" asp-controller="UsersManagement" asp-action="UserSubscriptionHistory" asp-route-userId="@item.UserId" class="btn btn-sm btn-outline-info">@Localizer["SubscriptionManagement"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
