@{
    ViewData["Title"] = Localizer["PremiumArea"];
}

<h2>@Localizer["PremiumMemberArea"]</h2>
<p>@string.Format(Localizer["PremiumWelcome"], User.Identity?.Name)</p>

<hr />
<h4>@Localizer["StandardFeatures"]</h4>
<ul>
    <li>@Localizer["StandardFeaturesList"]</li>
</ul>

<hr />
<h4>@Localizer["PremiumFeatures"]</h4>
<ul>
    <li>@Localizer["FeatureMultiBudgets"]</li>
    <li>@Localizer["FeatureDetailedCharts"]</li>
    <li>@Localizer["FeatureGoalTracking"]</li>
    <li>@Localizer["FeatureCustomCategories"]</li>
    <li>@Localizer["FeatureDataExport"]</li>
</ul>
